RakeBack/Service References/RakeBackService/RakeBackService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RakeBackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:18080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:18080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:18080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
      <xsd:import schemaLocation="http://localhost:18080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:18080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRakeBackService_GetUserInfoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoById" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetUserInfoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetNewRakeBack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewRakeBack" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetNewRakeBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewRakeBackResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddRakeBack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRakeBack" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddRakeBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRakeBackResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetRakeBack_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRakeBack" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetRakeBack_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRakeBackResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetRoleInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetRoleInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_DelUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUserInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_DelUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateOrderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateOrderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_DelOrderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DelOrderInfo" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_DelOrderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelOrderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_OutLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:OutLogin" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_OutLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:OutLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPassword" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_UpdateUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetAmountStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountStatistics" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetAmountStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAmountStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetOperateLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperateLog" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetOperateLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperateLogResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetOrderLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderLog" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetOrderLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderLogResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddOrderFlowLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderFlowLog" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddOrderFlowLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderFlowLogResponse" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddOutMoneyOperateLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOutMoneyOperateLog" />
  </wsdl:message>
  <wsdl:message name="IRakeBackService_AddOutMoneyOperateLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOutMoneyOperateLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IRakeBackService">
    <wsdl:operation name="GetUserInfoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetUserInfoById" message="tns:IRakeBackService_GetUserInfoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetUserInfoByIdResponse" message="tns:IRakeBackService_GetUserInfoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewRakeBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetNewRakeBack" message="tns:IRakeBackService_GetNewRakeBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetNewRakeBackResponse" message="tns:IRakeBackService_GetNewRakeBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRakeBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/AddRakeBack" message="tns:IRakeBackService_AddRakeBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/AddRakeBackResponse" message="tns:IRakeBackService_AddRakeBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRakeBack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetRakeBack" message="tns:IRakeBackService_GetRakeBack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetRakeBackResponse" message="tns:IRakeBackService_GetRakeBack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetRoleInfo" message="tns:IRakeBackService_GetRoleInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetRoleInfoResponse" message="tns:IRakeBackService_GetRoleInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetUserInfo" message="tns:IRakeBackService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetUserInfoResponse" message="tns:IRakeBackService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/AddUserInfo" message="tns:IRakeBackService_AddUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/AddUserInfoResponse" message="tns:IRakeBackService_AddUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/UpdateUserInfo" message="tns:IRakeBackService_UpdateUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/UpdateUserInfoResponse" message="tns:IRakeBackService_UpdateUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/DelUserInfo" message="tns:IRakeBackService_DelUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/DelUserInfoResponse" message="tns:IRakeBackService_DelUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/UpdateOrderInfo" message="tns:IRakeBackService_UpdateOrderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/UpdateOrderInfoResponse" message="tns:IRakeBackService_UpdateOrderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelOrderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/DelOrderInfo" message="tns:IRakeBackService_DelOrderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/DelOrderInfoResponse" message="tns:IRakeBackService_DelOrderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/Login" message="tns:IRakeBackService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/LoginResponse" message="tns:IRakeBackService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OutLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/OutLogin" message="tns:IRakeBackService_OutLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/OutLoginResponse" message="tns:IRakeBackService_OutLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/UpdateUserPassword" message="tns:IRakeBackService_UpdateUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/UpdateUserPasswordResponse" message="tns:IRakeBackService_UpdateUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmountStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetAmountStatistics" message="tns:IRakeBackService_GetAmountStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetAmountStatisticsResponse" message="tns:IRakeBackService_GetAmountStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperateLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetOperateLog" message="tns:IRakeBackService_GetOperateLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetOperateLogResponse" message="tns:IRakeBackService_GetOperateLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetOrderLog" message="tns:IRakeBackService_GetOrderLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetOrderLogResponse" message="tns:IRakeBackService_GetOrderLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/GetConfig" message="tns:IRakeBackService_GetConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/GetConfigResponse" message="tns:IRakeBackService_GetConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderFlowLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/AddOrderFlowLog" message="tns:IRakeBackService_AddOrderFlowLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/AddOrderFlowLogResponse" message="tns:IRakeBackService_AddOrderFlowLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOutMoneyOperateLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IRakeBackService/AddOutMoneyOperateLog" message="tns:IRakeBackService_AddOutMoneyOperateLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRakeBackService/AddOutMoneyOperateLogResponse" message="tns:IRakeBackService_AddOutMoneyOperateLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRakeBackService" type="tns:IRakeBackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfoById">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetUserInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewRakeBack">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetNewRakeBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRakeBack">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/AddRakeBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRakeBack">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetRakeBack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetRoleInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/AddUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelUserInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/DelUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/UpdateOrderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelOrderInfo">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/DelOrderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutLogin">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/OutLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserPassword">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/UpdateUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmountStatistics">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetAmountStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperateLog">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetOperateLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderLog">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetOrderLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/GetConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderFlowLog">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/AddOrderFlowLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOutMoneyOperateLog">
      <soap:operation soapAction="http://tempuri.org/IRakeBackService/AddOutMoneyOperateLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RakeBackService">
    <wsdl:port name="BasicHttpBinding_IRakeBackService" binding="tns:BasicHttpBinding_IRakeBackService">
      <soap:address location="http://localhost:18080/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>